<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-springsecurity5"
      layout:decorate="~{layout/inc.html}">
<head>
  <meta charset="UTF-8">
  <title>QBoard Read</title>
</head>
<body>
<div layout:fragment="content">
  <br>
  <br>
  <br>
  <br>
  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          QBoard Read
        </div>
        <div class="card-body">
          <div class="input-group mb-3">
            <span class="input-group-text">QBoardNo</span>
            <input type="text" class="form-control" th:value="${dto.qBoardNo}" readonly>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Title</span>
            <input type="text" class="form-control" th:value="${dto.title}" readonly>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Content</span>
            <textarea class="form-control col-sm-5" rows="5" readonly>[[${dto.content}]]</textarea>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Writer</span>
            <input type="text" class="form-control" th:value="${dto.nickname}" readonly>
          </div>
          <!--          <div class="input-group mb-3">-->
          <!--            <span class="input-group-text">RegDate</span>-->
          <!--            <input type="text" class="form-control" th:value="${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm:ss')}" readonly>-->
          <!--          </div>-->
          <!--          <div class="input-group mb-3">-->
          <!--            <span class="input-group-text">ModDate</span>-->
          <!--            <input type="text" class="form-control" th:value="${#temporals.format(dto.modDate, 'yyyy-MM-dd HH:mm:ss')}" readonly>-->
          <!--          </div>-->
          <!-- 사용자 권한 부분 추가 -->
          <!--          <div class="my-4" th:with="user=${#authentication.principal}">-->
          <div class="my-4" >
            <div class="float-end" th:with="link = ${pageRequestDTO.getLink()}">
              <a th:href="|@{/qboard/list}?${link}|" class="text-decoration-none">
                <button type="button" class="btn btn-primary">List</button>
              </a>
              <a th:href="|@{/qboard/modify(qBoardNo=${dto.qBoardNo})}&${link}|" class="text-decoration-none">
                <button type="button" class="btn btn-secondary">Modify</button>
              </a>
            </div>
          </div>
        </div> <!-- end card body -->
        <!--         // 추가 부분-->
        <div class="col">
          <!-- 추가 수정 -->
<!--          <div class="card" th:if="${dto.fileNames != null  && dto.fileNames.size() > 0}">-->
<!--            <img class="card-img-top"-->
<!--                 th:each="fileName: ${dto.fileNames}"-->
<!--                 th:src="|/view/${fileName}|">-->
<!--          </div>-->
          <!--           // 추가 부분-->
        </div>
      </div> <!-- end card -->
    </div> <!-- end col -->
  </div> <!-- end row -->
  <div class="row mt-3"> <!-- start Qreply -->
    <div class="col-md-12">
<!--        <input type="hidden" name="qBoardNo" th:value="${dto.qBoardNo}">-->
<!--        <div class="reply-nick">-->
<!--          <input type="text" name="nickName" th:value="${dto.nickName}" readonly>-->
<!--        </div>-->
<!--        <div class="qna-reply">-->
<!--          <textarea name="qReply" id="qReply" cols="50" rows="5" class="form-control" placeholder="qrContent"></textarea>-->
<!--        </div>-->
        <div class="my-4">
          <button class="btn btn-info addReplyBtn">등록</button>
        </div>

      <ul class="list-group replyList">

      </ul>
    </div>
    <div class="row mt-3">
      <div class="col">
        <ul class="pagination replyPaging">

        </ul>
      </div>
    </div>
  </div>
  <!-- end Qreply -->
  <!-- register modal -->
  <div class="modal registerModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Register Reply</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal", aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <span class="input-group-text">Reply Text</span>
            <input type="text" class="form-control replyText">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">ReplyWriter</span>
            <input type="text" class="form-control replyWriter">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary registerBtn">Register</button>
          <button type="button" class="btn btn-outline-dark closeRegisterBtn">Close</button>
        </div>
      </div>
    </div>
  </div> <!-- register end modal -->
  <!-- modify model -->
  <div class="modal modifyModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title replyHeader"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <span class="input-group-text">Reply Text</span>
            <input type="text" class="form-control modifyText">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info modifyBtn">Modify</button>
          <button type="button" class="btn btn-danger removeBtn">Remove</button>
          <button type="button" class="btn btn-outline-dark closeModifyBtn">Close</button>
        </div>
      </div>
    </div>
  </div>  <!-- modify end modal -->

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> <!-- Axios library add -->
  <script src="/js/replyQ.js"></script>
</div>
<script layout:fragment="script" th:inline="javascript">


  // qBoardNo 정의
  const qBoardNo = [[${dto.qBoardNo}]];

  console.log(getQ1(qBoardNo)); // 콘솔로 확인

  function printReplies(page, size, goLast) {
    getQList({qBoardNo, page, size, goLast}).then(
            data => {console.log(data)
              printList(data.dtoList); // 목록 처리
              printPages(data); // 페이지 처리
            }
    ).catch(e => {
      console.error();
    });
  }
  printReplies(1, 10) // 무조건 호출
  printReplies(1, 10, true);

  const replyList = document.querySelector('.replyList'); // 댓글 목록 DOM
  const replyPaging = document.querySelector('.replyPaging'); // 페이지 목록 DOM

  function printList(dtoList) { // 댓글 목록 출력
    let str = '';
    if (dtoList && dtoList.length > 0) {
      for (const dto of dtoList) {
        str += `<li class="list-group-item d-flex replyItem">
                    <span class="col-2">${dto.qRno}</span>
                    <span class="col-6" data-qRno="${dto.qRno}">${dto.qReply}</span>
                    <span class="col-2">${dto.nickName}</span>
                    <span class="col-2">${dto.regDate}</span>
                </li>`;
      }
    }
    replyList.innerHTML = str;
  }

  function printPages(data) { // 페이지 목록 출력
    // pagination
    let pageStr = '';
    if (data.prev) {
      pageStr += `<li class="page-item"><a class="page-link" data-page="${data.start - 1}">PREV</a></li>`;
    }
    for (let i = data.start; i <= data.end; i++) {
      pageStr += `<li class="page-item ${i === data.page ? "active" : ""}">
                            <a class="page-link" data-page="${i}">${i}</a></li>`;
    }
    if (data.next) {
      pageStr += `<li class="page-item"><a class="page-link" data-page="${data.end + 1}">NEXT</a></li>`;
    }
    console.log(pageStr);
    replyPaging.innerHTML = pageStr;
  }

  // 댓글 등록 모달
  const registerModal = new bootstrap.Modal(document.querySelector(".registerModal"));
  console.log(registerModal);
  // registerModal
  const registerBtn = document.querySelector(".registerBtn");
  const replyText = document.querySelector(".replyText");
  const replyWriter = document.querySelector(".replyWriter");
  const closeRegisterBtn = document.querySelector(".closeRegisterBtn");
  console.log();
  document.querySelector(".addReplyBtn").addEventListener('click', function (e) {
    registerModal.show();
  }, false)

  closeRegisterBtn.addEventListener('click', function (e) {
    registerModal.hide();
  }, false)

  // 댓글 등록 자바스크립트
  registerBtn.addEventListener("click", function (e) {
    const replyObj = {qBoardNo:qBoardNo, replyText:replyText.value, replyWriter:replyWriter.value}
    addQReply(replyObj).then(result => { // 등록 후 결과처리
      alert(result.data.qRno);
      registerModal.hide();
      replyText.value = '';
      replyWriter.value = '';
      printReplies(1, 10 ,true); // 댓글 목록 갱신
    }).catch(e => {
      alert("Exception...");
    });
  }, false);

  // 페이징 관련
  let page = 1;
  let size = 10;

  replyPaging.addEventListener("click", function (e) {
    e.preventDefault();
    e.stopPropagation();

    const target = e.target;

    if (!target || target.tagName != 'A') {
      return
    }

    const pageNum = target.getAttribute("data-page");
    page = pageNum;
    printReplies(page, size)
  }, false)

  // modify modal 관련
  const modifyModal = new bootstrap.Modal(document.querySelector(".modifyModal")); // 모달 수정 정의
  const replyHeader = document.querySelector(".replyHeader"); // 리플 헤더 정의
  const modifyText = document.querySelector(".modifyText"); // 수정 글 내용 정의
  const modifyBtn = document.querySelector(".modifyBtn"); // 수정 버튼 정의
  const removeBtn = document.querySelector(".removeBtn"); // 삭제 버튼 정의
  const closeModifyBtn = document.querySelector(".closeModifyBtn"); // 수정 창 닫기 버튼 정의

  replyList.addEventListener("click", function (e) {
    e.preventDefault();
    e.stopPropagation();

    const target = e.target;
    if (!target || target.tagName != 'SPAN') {
      return;
    }

    const qRno = target.getAttribute("data-rno");
    if (!qRno) {
      return;
    }

    getQReply(qRno).then(qnacomment => { // 댓글의 내용을 모달창에 채워서 보여줌.
      console.log(qnacomment);
      replyHeader.innerHTML = qnacomment.qRno;
      modifyText.value = qnacomment.qReply;
      modifyModal.show();
    }).catch(e => alert('error'))
  }, false);

  modifyBtn.addEventListener("click", function (e) {
    const replyObj = {qBoardNo:qBoardNo, qRno:replyHeader.innerHTML, replyText:modifyText.value};
    modifyQReply(replyObj).then(result => {
      alert(result.qRno + '댓글이 수정되었습니다.');
      modifyText.value = '';
      modifyModal.hide();
      printReplies(page, size);
    }).catch(e => {
      console.log(e);
    })
  }, false);

  closeModifyBtn.addEventListener("click", function (e) {
    modifyModal.hide();
  }, false);

  // 삭제 버튼 이벤트 리스너
  removeBtn.addEventListener("click", function (e) {
    removeQReply(replyHeader.innerHTML).then(result => {
      alert(result.qRno + '댓글이 삭제되었습니다.');
      replyText.value = '';
      modifyModal.hide();
      page = 1; // 이 부분이 없다면 원래 페이지로
      printReplies(page, size);
    }).catch(e => {
      console.log(e);
    })
  }, false);
</script>
</body>
</html>