<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/inc.html}">

<head>
    <meta charset="UTF-8">
    <title>멘티 회원가입</title>
</head>
<body>
<div layout:fragment="content">
    <form name="frmMentee" action="/member/menteeRegister" method="post" class="form-horizontal">
        <br>
        <br>
        <br>
        <br>
        <input name="type" type="hidden" value="type">
        <div class="form-group row">
            <label class="col-sm-2 control-label" >아이디</label>
            <div class="col-sm-3">
                <input name="mentee_id" id="menteeID" type="id" class="form-control " placeholder="mentee_id">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label" >비밀번호</label>
            <div class="col-sm-3">
                <input name="passwd" type="password" class="form-control" placeholder="passwd">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label" >비밀번호 확인</label>
            <div class="col-sm-3">
                <input name="passwd_check" type="password" class="form-control" placeholder="passwd_check">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label" >이름</label>
            <div class="col-sm-3">
                <input name="name" type="text" class="form-control" placeholder="name">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label" >지역</label>
            <div class="col-sm-3">
                <input name="region" type="text" class="form-control" placeholder="region">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label">나이</label>
            <div class="col-sm-5">
                <input name="age" type="text" class="form-control" placeholder="age">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label">닉네임</label>
            <div class="col-sm-5">
                <input name="nickname" type="text" class="form-control" placeholder="nickName">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label">프로그래밍 언어</label>
            <div class="col-sm-5">
                <input name="lngName" type="text" class="form-control" placeholder="lngName">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary btn-menteeRegister" value=" 가입하기 ">
                <input type="reset" class="btn btn-primary" value=" 취소 ">
            </div>
        </div>
    </form>
</div>

<script layout:fragment="script" th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function () {
        const btnMenteeRegister = document.querySelector('.btn-menteeRegister');
        const frmMentee = document.querySelector('form[name=frmMentee]');

        const menteeID = document.getElementById('menteeID').value;
        btnMenteeRegister.addEventListener('click', function (e) {
            if (!frmMentee.mentee_id.value) {
                alert("ID를 입력하세요.");
                e.preventDefault();
                return;
            }
            if (!frmMentee.passwd.value) {
                alert("비밀번호를 입력하세요.");
                e.preventDefault();
                return;
            }
            if (!frmMentee.name.value) {
                alert("이름을 입력하세요.");
                e.preventDefault();
                return;
            }
            if (!frmMentee.nickName.value) {
                alert("닉네임을 입력하세요.");
                e.preventDefault();
                return;
            }
            console.log(menteeID);
        });
    });
</script>
</body>
</html>