<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/inc.html}">

    <div layout:fragment="content">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>메인</h1>
        필요한거
        1. ex) 왼쪽에는 개발자 언어순위 - 슬라이드 10위까지7 개발타입 별 추천언어(웹, 모바일, 게임, 빅테이터).
        2. 오른쪽에는 멘토순위?!
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

</html>