<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mentoring_project.mapper.BoardMapper">

    <!--insert mapper-->
    <insert id="insert">
        insert into board(id, hit, content, title)
        values(#{id}, #{hit}, #{content}, #{title})
    </insert>
    <!--update mapper-->
    <update id="update">
        update board  set title = #{title}, content = #{content}
        where boardNo = #{boardNo}
    </update>
    <!-- delete mapper-->
    <delete id="delete">
        delete  from board where boardNo
    </delete>

    <delete id="deleteOne">
        delete
        from board
        where boardNo;
    </delete>

    <!-- select mapper -->
    <select id="selectAll">
        select * from board;
    </select>

    <select id="selectOne">
        select *  from  board  where boardNo = #{boardNo};
    </select>

    <!--검색어-->
    <select id="list">
        select * from board
        <if test="types != null and types.length > 0">
            where board.boardNo like '%' || #{boardNo} || '%'
        </if>
    </select>

    <!--수정 mapper-->
    <update id="modify">
        update board  set boardNo= #{boardNo}, title = #{title}, content = #{content}
        where boardNo = #{boardNo}
    </update>

</mapper>
