<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mentoring_project.mapper.memberMapper.MentorMapper">
    <insert id="insert">
        INSERT INTO user_mentor (mentor_id, passwd, name, region, nickname, lngName, portfolio, intro, mNo, gradeByMNum)
        VALUES (#{mentor_id}, #{passwd}, #{name}, #{region},  #{nickname}, #{lngName}, #{portfolio}, #{intro}, #{mNo}, #{gradeByMNum})
    </insert>
    
    <select id="selectAll" resultType="com.example.mentoring_project.domain.memberVO.MentorVO">
        SELECT * FROM user_mentor ORDER BY mentorNo DESC;
    </select>

    <select id="selectOne" resultType="com.example.mentoring_project.domain.memberVO.MentorVO">
        SELECT * FROM user_mentor WHERE mentor_id = #{mentor_id};
    </select>

    <update id="update">
        UPDATE user_mentor
        SET name = #{name}, region = #{region},
            nickname = #{nickname}, lngName = #{lngName},
            portfolio = #{portfolio}, intro = #{intro}
        WHERE mentor_id = #{mentor_id}
    </update>

    <delete id="delete">
        DELETE FROM user_mentor WHERE mentor_id = #{mentor_id}
    </delete>

    <update id="updatePw">
        UPDATE user_mentor SET passwd = #{passwd} where mentor_id = #{mentor_id}
    </update>


</mapper>